<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="filePath" value = ""/>
    <add key="webLocation" value = "https://www.reddit.com/r/wallpapers/top/.json?sort=top&amp;t=month"/>
    <add key="imageCount" value = "20"/>
    <add key="userScore" value = "100"/>
  </appSettings>
</configuration>